body {
    font-family: Arial;
    background-color: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background: #1e293b;
}

section {
    padding: 30px;
    border-bottom: 1px solid gray;
}

h2 {
    color: #38bdf8;
}
