body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #1e1b4b, #0f0a1f);
  color: white;
  transition: 0.3s;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  color: #c084fc;
}

.hero p {
  color: #d8b4fe;
  margin-top: 10px;
}

.buttons {
  margin-top: 30px;
}

.btn {
  margin: 10px;
  padding: 12px 25px;
  background: #7c3aed;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover {
  background: #a855f7;
  transform: scale(1.05);
}

.highlight {
  background: linear-gradient(45deg, #9333ea, #c084fc);
}

section {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

h2 {
  color: #c084fc;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Toggle Button */
#toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #7c3aed;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* LIGHT MODE */
.light {
  background: #f5f3ff;
  color: #1e1b4b;
}

.light .card {
  background: #ddd6fe;
}
